.with-before::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 1.25rem;
    background-color: rgba(243, 244, 246);
    color: #7c3aed;
    width: 5rem;
    height: 0.5px;
    display: block;
    padding: 1px;
    border-radius: 0.375rem;
  }
  